/* principales variables (globales) */

$align-center: center !important;
$align-justify: justify !important;
$color-base-orange: #DA5010 !important;
$color-blanco: #ffffff;
$color-gris: #c0c0c0;
$color-negro: #000000;
$ff-nuito-standard: 'Nunito Sans', sans-serif;
$ff-josefa-titles: 'Josefin Sans', sans-serif;
$ff-monserrat-links: 'Montserrat', sans-serif;
$font-oversize: 120%;
$gal-img-size-xs: 250px;
$gal-img-size-sm: 400px;
$gal-img-size-md: 500px;
$gal-img-size-lg: 700px;
$margin-125rem: 20px;
$valResta: ("0%": -500px, "50%": 100px, "75%": -50px, "100%": 0px);
