/* principales variables (globales) */

$align-center: center !important;
$align-justify: justify !important;
$color-base-orange: #da5010 !important;
$color-blanco: #ffffff;
$color-gris: #c0c0c0;
$color-negro: #000000;
$ff-impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$ff-arial: Arial, Helvetica, sans-serif;
$font-oversize: 120%;
$gal-img-size-sm: 250px;
$gal-img-size-md: 500px;
$gal-img-size-lg: 700px;
$margin-125rem: 20px;
$valResta: ("0%": -500px, "50%": 100px, "75%": -50px, "100%": 0px);
