@charset "UTF-8";
/* orden secciones: font-imports, TAGS, CLASES, IDS, RESPONSIVE/media-queries, EFECTOS, overwrites-bootstrap */

@import "vars";

/* seccion font-imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{ /* reseter */
    font-family: $ff-nuito-standard;
    margin: 0;
    padding: 0;
    /*color: #f3e600; /* Pantone 3945C */
}

/* seccion TAGS */
body{
    background-image: linear-gradient(to bottom, $color-gris, $color-blanco, $color-blanco, $color-gris);
    img{
        background-image: url("../images/ph.png");
        background-position: $align-center;
        background-size: contain;
    }
    header{
        text-align: $align-center;
        a img{
            width: 162px;
            height: 126px;
        }
    }
    section, main{ text-align: $align-center; }
    footer div{ text-align: $align-center; }
    h1, h2, h3, .copyRFooter{font-family: $ff-josefa-titles;}
    h1{ margin: $margin-125rem; }
    p{
        margin: 8px 0px;
        span{
            font-size: 150%;
        }
    }
    a{
        text-decoration: none; /* redundante? posiblemente. util? dudoso. me deja tranquilo de que va a andar? definitivamente! */
        text-decoration-line: none;
        color: $color-negro;
        font-family: $ff-monserrat-links;
        //font-weight: lighter;
        em{
            text-transform: uppercase;
            font-family: $ff-monserrat-links;
        }
        &:hover{
            text-decoration: none;
            text-decoration-line: none;
            color: $color-base-orange;
        }
    }
    hr{
        margin: 8px auto;
        width: 50%;
        min-width: 300px;
    }
    h2, h3{
        color: #311000;
        margin-top: $margin-125rem;
    }
    h3{
        line-height: 28px;
    }
    ul, ol{
        margin: 8px auto;
        padding-left: $margin-125rem;
        text-align: $align-center;
    }
    ul li{
        list-style: none;
        margin-left: 4px;
        color: $color-negro;
        padding-left: 0px;
    }
    nav{
        //margin: 0px 0px 130px 0px;
        ul{
            padding-left: 0px;
            margin: -5px 0px;
            li{
                height: 25px;
                & a:hover, & a:focus{
                    animation: linkFocus 0.75s ease-in 0s 1 normal none running;
                    background-color: #b0b0b0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    font-size: $font-oversize;
                    font-weight: bold;
                    margin: 0;
                    margin-left: $margin-125rem;
                    padding: 0;
                    height: 25px;
                    text-decoration-line: none;
                }
            }
        }
    }
    header img{
        border-radius: 35px;
        border: $color-negro double 5px;
    }
    article p{
        font-size: 1.2rem;
        padding: 16px 10px;
        line-height: 1.2rem;
        img{
            width: $gal-img-size-xs;
            height: $gal-img-size-xs;
        }
    }
    .swiper-container {
        width: $gal-img-size-xs + 100px;
        height: $gal-img-size-xs + 125px;
    }
    table, th, tr, td{
        margin: auto;
        border: 1px solid $color-negro;
    }
    td{
        text-align: $align-justify;
        line-height: $margin-125rem;
        ul{
            margin-bottom: 0px;
            li{
                list-style-type: square;
                color: $color-negro;
                text-align: $align-justify;
            }
        }
        ol{
            li{
                color: #101010;
                list-style-type: none;
                font-weight: 600;
            }
        }
    }
    form{
        margin-bottom: 25px;
        text-align: $align-justify;
        padding: 10px;
        p{ padding-top: 40px 40px; }
    }
    textarea{
        margin-bottom: 32px;
        color: $color-base-orange;
    }
    select{ margin-bottom: 18px; }
    input{
        &[type=text], &[type=email]{ color: $color-base-orange; }
        &[type=reset]{
            width: 200px;
            justify-self: $align-center;
        }
    }
    main{
        //animation: mainWhoooosh 0.75s ease-in-out 0s 1 normal none running; /* ayuda-memoria: animation: {name, duration, timing-func, delay, iter-count, dir, fill-mode(??), play-state} */
        /* el hack no sirvio como tal... pero habia otra version que si! abajo implementado */
        min-height: calc(100vh - 350px); /* footer-hack, values for mobile/responsive "narrow" */
    }
    iframe{
        border: 0;
    }

    /* seccion CLASES */
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .errorDiv{
        background: top/contain url("../images/404_fail_mobile_bw.jpg") no-repeat;
        width: 100%;
        height: 100%;
        z-index: -1;
        overflow: hidden;
        position: absolute;
        top: 0px;
        filter: blur(2px);
        background-size: 150% auto;
        opacity: 0.7;
    }
    .copyRFooter{
        font-weight: bolder;
        font-size: smaller;
        text-align: $align-center;
        color: $color-base-orange;
        min-width: 450px;
        display: inline;
        margin-top: 6px;
    }
    .rowPar{
        background-color: #cecece;
        text-align: right;
        max-width: 600px;
    }
    .rowImpar{
        background-color: #e2e2e2;
        text-align: left;
        max-width: 600px;
    }
    .dropdown-menu{
        width: 100%;
        //background-color: transparent;
        border: 0px;
    }
    .squareLinks{
        height: 280px;
        margin: auto 3px 3px 3px;
        margin-top: 30px;
        background-color: rgba(218, 80, 16, 0.1);
        border-radius: 10%;
        display: grid;
        align-content: $align-center;
        text-decoration: none;
        max-width: 300px;
        &:hover, &:focus{
            background-color: rgba(218, 80, 16, 0.4);
            color: rgba(0, 0, 0, 0.6);
        }
    }
    .coloredHover{
        margin: 0 auto 16px;
        border: 1px white solid;
        border-radius: 0px 0px 40px 40px;
        padding-bottom: 10px;
        &:hover{
            background-color: rgba(218, 80, 16, 0.75);
            & div:hover{ background-color: unset; }
        }
        & p{
            margin: 0px 0px;
        }
    }
    .imgFilament{ /* hack feo para que no se desacomoden las imagenes del fila "/ */
        width: 200px;
        min-width: 200px;
        min-height: 200px;
    }
    .buttonPrincipal{
        background-color: $color-base-orange;
        border-color: $color-base-orange;
        background-image: linear-gradient(to top left, rgba(0, 0, 0, .4), rgba(0, 0, 0, .3) 30%, rgba(0, 0, 0, 0));
        &:hover, &:focus{
            box-shadow: 0 0 0 .2rem rgba(218, 80, 16, 0.5) !important;
        }
        &:active {
            box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                        inset 2px 2px 3px rgba(0, 0, 0, .6);
        }
    }
    .notSoImportant{
        filter: grayscale(80%);
        opacity: 0.6;
    }

    .social-icons{
        font-size: 20px;
    }
    .icon-google-plus3{
        &:hover, &:active{
            color: rgba(255, 50, 100, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-facebook2{
        &:hover, &:active{
            color: rgba(0, 0, 255, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-instagram{
        &:hover, &:active{
            color: rgba(255, 0, 255, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-youtube{
        &:hover, &:active{
            color: rgba(255, 0, 0, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-tumblr2{
        &:hover, &:active{
            color: rgba(0, 0, 128, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-reddit{
        &:hover, &:active{
            color: rgba(180, 100, 0, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
    .icon-wikipedia{
        &:hover, &:active{
            color: rgba(128, 128, 128, 0.75);
            text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.75);
        }
    }
}

/* seccion IDS */
#titleSection{
    text-decoration-line: underline;
    text-decoration-style: double;
    color: $color-base-orange;
    filter: grayscale(35%);
    font-size: 32px;
}
#top{ margin-top: 8px; }
#dropdownMenu1{ width: 100%; }
#responsiveVideo{
    width: 275px;
    height: 155px;
    margin: 10px 0px;
}

/* seccion EFECTOS *OVERWRITES BOOTSTRAP */
@keyframes linkFocus{
    0%{ background-color: #b0b0b0; }
    50%{ background-color: $color-base-orange; }
    100%{ background-color: #b0b0b0; }
}
/* legacy code. shame to delete since it works as intended :,)
@keyframes mainWhoooosh{
    @each $val, $resta in $valResta{
        #{$val} {
            transform: translateY($resta);
            opacity: #{$val};
        }
    }
}
*/

/* seccion RESPONSIVE/media-queries */
@media only screen and (min-width: 480px){ /* no es un breakpoint oficial, pero da mas control sobre los tamaños! */
    body{
        nav{
            margin: 0px 0px 30px 0px;
            ul{
                display: inline;
                li{
                    & a:hover, & a:focus{
                        font-size: 100%;
                        margin-left: 0px;
                    }
                }
            }
        }
        form div.gridContainer{ width: 360px; } /* no muy convencido, pero me overfloweaba muy feo "/ */
        .imgFilament{ width: 300px; }
    }
}
@media only screen and (min-width: 576px){
    #responsiveVideo{
        width: 360px;
        height: 202px;
    }
    body{
        article p img{
            width: $gal-img-size-sm;
            height: $gal-img-size-sm;
        }
        .swiper-container {
            width: $gal-img-size-sm + 100px;
            height: $gal-img-size-sm + 125px;
        }
    }
}
@media only screen and (min-width: 768px){
    body{
        main{
            //animation: mainWhoooosh 0.75s ease-in-out 0s 1 normal none running; /* ayuda-memoria: animation: {name, duration, timing-func, delay, iter-count, dir, fill-mode(??), play-state} */
            /* el hack no sirvio como tal... pero habia otra version que si! abajo implementado */
            min-height: calc(100vh - 305px); /* footer-hack = (header + margin:) 185 + 8 + (footer + margin:) 46 + 8 = 247... != 275 --> faltan 28px!! */
        }
        nav{
            margin: 0px;
            ul{
                display: block;
                text-align: $align-justify;
                li{
                    & a:hover, & a:focus{
                        font-size: 120%;
                        margin-left: $margin-125rem;
                    }
                }
            }
        }
        article p img{
            width: $gal-img-size-md;
            height: $gal-img-size-md;
        }
        .swiper-container {
            width: $gal-img-size-md + 100px;
            height: $gal-img-size-md + 125px;
        }
        .errorDiv{
            background: top/contain url("../images/404_fail_desktop_bw.jpg") no-repeat;
            width: 100%;
            height: 100%;
            z-index: -1;
            overflow: hidden;
            position: absolute;
            top: 0px;
            filter: blur(2px);
            background-size: 150% auto;
            opacity: 0.7;
        }
        .dropdown-menu{
            width: 200px;
            //background-color: transparent;
            border: 0px;
        }
        .dropdown, #dropdownMenu1{ width: 100px; }
        .copyRFooter{
            display: block;
            font-size: larger;
        }
        form div.gridContainer{ width: auto; } /* no muy convencido, pero me overfloweaba muy feo "/ */
        #navMenu{
            position: fixed;
            z-index: 2;
            top: $margin-125rem;
            left: 0px;
        }
    }
    #responsiveVideo{
        width: 480px;
        height: 270px;
    }
}
@media only screen and (min-width: 1024px){
    body{
        nav{
            margin: 0px;
            top: -130px;
        }
        article p img{
            width: $gal-img-size-lg;
            height: $gal-img-size-lg;
        }
        .swiper-container {
            width: $gal-img-size-lg + 100px;
            height: $gal-img-size-lg + 125px;
        }
        .imgFilament {width: 350px; }
    }
    #responsiveVideo{
        width: 560px;
        height: 315px;
    }
}
@media only screen and (min-width: 1200px){
    body{
        .imgFilament{ width: auto; }
    }
}

/* seccion overwrites-bootstrap */
/* nada por aca... yet! */
